main {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.column {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;

  ul {
    padding-left: 15px;
    margin: 0 0 15px 0;
    flex: 1;
  }
}
